/* comon css styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.section-heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.btn-primary {
    padding: 14px 35px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: 0;
}

/* header styles */

/* navbar styles */

nav {
    padding: 30px 0;
}

nav .container .icon {
    display: none;
}

nav .container .icon i {
    font-size: 50px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .icon-text {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav .container .icon-text h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav .container .icon-text h2 span {
    color: #FF5400;
}


.nav-item ul {
    display: flex;
    gap: 43px;
}


.nav-item ul li {
    list-style: none;
}

.nav-item ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.13rem;
    font-weight: 700;
}

.nav-item ul li .active {
    color: #FF5400;
}

.nav-item ul li a:hover {
    color: #FF5400;
}

/* banner section styles */
#banner-part .container {
    padding: 106px 185px;
    background: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 100%;
}

#banner-part .container h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

#banner-part .container p {
    color: #ffffffb2;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 0 64px;
}

form {
    border: 1px solid red;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-btn {
    display: flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px 60px;
}

.banner-btn button {
    padding: 16px 50px 16px 16px;
    max-width: 25%;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
}

/* tour section styles */
#tour-part {
    padding: 100px 0;
}

#tour-part .container {
    display: flex;
    gap: 50px;
}

#tour-part .container .text {
    width: 50%;
}

#tour-part .container .text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 30px;
}

#tour-part .container .text li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

#tour-part .container .images {
    width: 50%;
}

#tour-part .container .images img {
    width: 100%;
}

/* destination styles */
#destination-part {
    padding-bottom: 100px;
}

#destination-part .container .text {
    text-align: center;
}

#destination-part .container .text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

#destination-part .destination-images {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
}

#destination-part .destination-images .images {
    position: relative;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.75rem;
    font-weight: 800;
}

/* card part styles */
#card-part {
    padding-bottom: 100px;
}

#card-part .container .text {
    text-align: center;
}

#card-part .container .text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

#card-part .container .card-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
    margin-top: 48px;
}

#card-part .card {
    width: 48%;
    padding: 32px 32px 40px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card-part .card h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 32px 0 15px;
}

#card-part .card p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/* discounts styles */
#discount-part {
    padding-bottom: 100px;
}

.discount-img-container {
    margin-top: 48px;
    width: 100%;
    padding: 55px 535px 55px 55px;
}

.discount-img-container {
    margin-top: 48px;
    width: 100%;
    background: url('../Images/Group\ 39.png');
    padding: 55px 55px 55px 535px;
}

.discount-img-container {
    margin-top: 48px;
    width: 100%;
    background: url('../Images/Group\ 40.png');
    padding: 55px 55px 55px 535px;
}

.discount-img-container {
    margin-top: 48px;
    width: 100%;
    background: url('../Images/Group\ 39.png');
    padding: 55px 55px 55px 535px;
}

.discount-img-container img {
    width: 100%;
}

#discount-part .container .text {
    text-align: center;
}

#discount-part .container .text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 0;
    margin: 0 auto;
}

#discount-part .price {
    display: flex;
    gap: 10px;
}

#discount-part .price h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 26px;
}

#discount-part p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 452px;
    margin: 16px 0;
}

#discount-part h3 {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 24px;
}

#discount-part .price-container {
    padding: 50px 77px 50px 50px;
    width: 570px;
    border-radius: 16px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

/* place part styles */
#place-part {
    padding-bottom: 100px;
}

#place-part .container {
    display: flex;
    gap: 24px;
}

#place-part .left {
    width: 52%;
}

#place-part .left p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 0;
}

#place-part .left li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 30px;
}

#place-part .right {
    width: 47%;
    background: url('../Images/Group\ 40089.png');
    padding: 176px 167px;
}

#place-part .right img {
    width: 100%;
}

#place-part .right h3 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 276px;
}


/* newsletter styles */
#newsletter {
    padding-bottom: 100px;
}

#newsletter .container {
    display: flex;
    gap: 24px;
}

#newsletter .container .left {
    width: 45%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

#newsletter .container .left h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

#newsletter .container .left p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

#newsletter .container .left hr {
    margin: 24px 0;
}

#newsletter .container .right {
    width: 54%;
    background: url(../Images/Rectangle\ 8\ \(1\).png);
}

#newsletter .container .right .text {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    padding: 30px 0;
    position: relative;
    top: 53%;
    left: 46%;
    transform: rotate(-23deg);
}

#newsletter .container .right .text h4 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

#newsletter .container .right .text h3 {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.input-btn input {
    width: 100%;
    padding: 16px 250px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    margin-bottom: 16px;
}

.input-btn button {
    width: 100%;
    padding: 14px 147px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

/* blog section styles */
#blog {
    padding-bottom: 100px;
}

#blog .section-heading {
    text-align: center;
    margin-bottom: 20px;
}

#blog .blog-container {
    display: flex;
    gap: 20px;
}

#blog .blog-container .pabna {
    width: 33%;
}

#blog .blog-container .pabna img {
    width: 100%;
}

#blog .blog-container .rajshahi {
    width: 33%;
}

#blog .blog-container .rajshahi img {
    width: 100%;

}

#blog .blog-container .dhaka {
    width: 33%;
}

#blog .blog-container .dhaka img {
    width: 100%;
}

#blog h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
}

#blog p {
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}

#blog span {
    color: #FF5400;
}

/* footer styles */
footer {
    background: rgba(19, 19, 24, 0.05);
}

footer .container {
    padding: 110px 307px;
}


footer .container .icon-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer .container .icon-content h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

footer .container .icon-content h3 span {
    color: #FF5400;
}

footer .container p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 25px 0;
}

footer .icon {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .icon i {
    font-size: 2rem;
}

footer hr {
    margin: 50px 0;
}

footer h5 {
    text-align: center;
}

footer h5 small {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
}












/* small device responsive */
@media screen and (max-width:600px) {

    /* nav responsive start */
    nav {
        padding: 20px 25px;
    }

    .nav-item {
        display: none;
    }

    nav .container .icon {
        display: block;
    }

    /* nav responsive end */

    /* banner section responsive */
    #banner-part .container h1 {
        font-size: 3rem;
        text-align: center;
    }


    #banner-part .container {
        padding: 0 43px;
    }

    #banner-part .container p {
        margin: 12px 0 22px;
    }

    .banner-btn {
        flex-direction: column;
    }

    .banner-btn button {
        max-width: 100%;
    }

    /* tour section responsive */
    #tour-part {
        padding: 100px 30px;
    }

    #tour-part .container {
        flex-direction: column;
    }

    #tour-part .container .text,
    #tour-part .container .images {
        width: 100%;
    }

    /* destination responsive */
    #destination-part .container {
        padding: 0 20px;
    }

    #destination-part .destination-images .images {
        width: 100%;
        text-align: center;
    }

    #destination-part .destination-images .images img {
        width: 100%;
    }


    /* card section responsive */
    #card-part .container {
        padding: 0 20px;
    }

    #card-part .card {
        width: 100%;
    }

    /* discount part styles */
    #discount-part .price-container {
        margin-left: -519px;
    }

    #discount-part .price-container {
        padding: 10px 66px 31px 18px;
        width: 394px;
    }

    /* place part responsive */
    #place-part .container {
        flex-direction: column;
        padding: 0 20px;
    }

    #place-part .container .left {
        width: 100%;
    }

    #place-part .container .right {
        width: 100%;
    }

    /* newsletter responsive */
    #newsletter .container {
        flex-direction: column;
    }

    #newsletter .container .left {
        width: 98%;
    }

    #newsletter .container .right {
        width: 98%;
        padding: 100px 200px;
    }

    #newsletter .container .right .text {
        width: 220px;
        padding: 30px 0;
        position: relative;
        top: 0%;
        left: 0%;
        transform: rotate(0deg);
    }

    /* blog responsive */
    #blog .blog-container {
        flex-direction: column;
        padding: 15px;
    }

    #blog .blog-container .pabna {
        width: 100%;
    }

    #blog .blog-container .rajshahi {
        width: 100%;
    }

    #blog .blog-container .dhaka {
        width: 100%;
    }

    /* footer responsive */
    footer .container {
        padding: 20px 18px;
    }

}